*{
  margin: 0;
  padding: 0;
}

input{
  padding: 15px;
  margin: 15px;
}

.form{
  justify-content: center;
  background-color: aqua;
  text-align: center;
  width: 250px;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}


div.buttons{
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 25%;
  
}
 button#login-btn{
  margin: 10px;
  background-color: plum;
  border-radius: 25%;
  width: 100%;
  height: 25px;
 }

 button#create-btn{
  margin: 10px;
  background-color: plum;
  border-radius: 25%;
  width: 100%;
  height: 25px;
 }
